@import '/styles/main';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  height: max-content;
  margin: 100px auto 0px;
  border-top: 1px solid #e3e6e9;
  padding-bottom: 40px;
  @include responsive-size(screen-l) {
    margin-top: 60px;
    max-height: max-content;
    height: max-content;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 482px;
    width: 100%;
    height: max-content;
  }
  .desc-wrapper {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 32px;
    @include responsive-size(screen-m) {
      margin-top: 16px;
    }
    &__title {
      min-height: 60px;
      width: 100%;
      margin-bottom: 8px;
      align-items: center;
      color: $Dark-Green-100;
      @include setting-font('Josefin Sans', normal, 400, 32px, 120%);
      @include responsive-size(screen-m) {
        display: none;
      }
    }
    &__desc {
      font-weight: 500;
      line-height: 200%;
      align-items: center;
      width: 100%;
      height: max-content;
      white-space: pre-line;
    }
  }
}
.video {
    position: relative;
    width: 1440px;
    height: 590px;
    object-fit: cover;
    z-index: -1;
    background: transparent;
}

