@import '/styles/main';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1043px;
  width: 100%;
  height: 284px;
  margin: 190px auto 0;
  .title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: #06703a;
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 284px;
    margin: 0 auto;
  }
}
