@import '/styles/main';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  max-height: 400px;
  width: 1440px;
  height: 100%;
  margin-top: 64px;
  @include responsive-size(screen-m) {
    margin-top: 48px;
  }
}
