@import '/styles/main';

.number {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 383px;
  height: max-content;
  &__num-img {
    width: 88px;
    height: 121px;
    margin-right: 10px;
  }
  &__desc {
    height: max-content;
    width: 100%;
    max-width: 285px;
    @include setting-font('Lato', normal, 500, 14px, 200%);
  }
}
