@import '/styles/main.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  height: 70px;
  background-color: #2c1c5a;
  margin: 0 auto;
  .icon-toan-phat {
    display: block;
    position: relative;
    width: 56px;
    height: 46px;
    cursor: pointer;
  }
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: max-content;
    margin: 0 42px;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 24px;
      cursor: pointer;
      margin-right: 16px;
      color: #ffffff;
      &:nth-last-of-type(1) {
        margin-right: 0px;
      }
    }
  }
  .language {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 56px;
    height: 24px;
    &__icon {
      display: block;
      position: relative;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
    &__caret-down {
      display: block;
      position: relative;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
}
