@import "/styles/main.scss";

.root {
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease-out, -webkit-transform 0.3s ease-out,
    top 0s ease-in-out;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
    0px 0.5px 2px rgba(96, 97, 112, 0.16);
  padding-top: 16px;
  position: fixed;
  @include responsive-size(screen-m) {
    padding-top: 0;
  }
}
.fake-header {
  height: 138px;

  @include responsive-size(screen-m) {
    height: 81.5px;
  }
}

.header {
  display: flex;
  width: 100%;
  padding: 0px 40px 0;
  align-items: center;
}

.icon-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  font-family: Quicksand;

  &:last-of-type {
    margin-right: 0;
  }
  @include responsive-size(screen-m) {
    margin-right: 16px;
    width: 32px;
    height: 32px;
  }
  &__label {
    font-family: Quicksand;
    font-size: 10px;
    font-weight: 400;
    line-height: 140%;

    letter-spacing: 0.2px;

    color: #000000;
  }
}

.menu {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: 16px;
  position: relative;
  &__item {
    cursor: pointer;

    font-weight: 300;
    font-family: Quicksand;
    font-size: 14px;
    line-height: 140%;

    margin-right: 40px;
    transition: background-size 0.5s;
    background: linear-gradient(0, #007770, #007770) 0 100% no-repeat;
    background-size: 0 2px;

    &:hover {
      font-weight: 600;
    }

    .dropdown {
      width: 100%;
      opacity: 0;
      transform: translate(0, 10px);
      transition: opacity 200ms ease-in, transform 200ms ease-in,
        visibility 200ms ease-in;
      z-index: 999;
      border-radius: 0;
      background: #fff;
      box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04),
        0px 4px 8px rgba(96, 97, 112, 0.16);
      position: absolute;
      width: 100%;
      left: 0;
      display: block;
      visibility: hidden;
      top: 34px;
      max-height: 458px;
    }

    &:hover {
      background-size: 100% 2px;
      .dropdown:not(.hidden) {
        opacity: 1;
        transform: translate(0, 0);
        visibility: visible;
      }
    }
  }

  .badge {
    top: 0;
    right: 0;
  }
}

.mobile {
  display: flex;
  height: 81.5px;
  align-items: center;
  padding: 0 12px;
  position: relative;
}

.cart {
  position: relative;
  @include responsive-size(screen-m) {
    height: 22px;
  }
}
.cart_mr_40 {
  margin-right: 40px !important;
}
.badge {
  position: absolute;
  top: -6px;
  right: 44px;
  background-color: $primary-main-color;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: $light-4;

  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 140%;
  /* identical to box height, or 14px */

  letter-spacing: 0.2px;

  display: flex;
  align-items: center;
  justify-content: center;
  @include responsive-size(screen-m) {
    top: 24px;
    right: 10px;
  }
}
