@import '/styles/main';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-height: 420px;
  max-width: 383px;
  min-height: 100%;
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 30px;
  .main-image {
    width: 383px;
    height: 200px;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 193px;
    padding-left: 20px;
    .time {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 22px;
      margin: 16px 0;
      color: $text-color-2;
      @include setting-font('Lato', normal, 500, 14px, 22px);
      &__image {
        width: 29px;
        height: 29px;
        margin-right: 8px;
      }
    }
    .title {
      width: 100%;
      height: max-content;
      max-height: 75px;
      margin-bottom: 11px;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      cursor: pointer;
      @include setting-font('Overpass', normal, 700, 20px, 120%);
    }
    .desc {
      width: 100%;
      height: max-content;
      max-height: 70px;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @include setting-font('Lato', normal, 500, 16px, 130%);
    }
  }
}
